<h1>{{title}}</h1>


<br />






<svg  width="1000" height="200">

    <ng-template ngFor let-item [ngForOf]="elementContainer">

        <rect *ngIf="item.Type=='rect';" [attr.x]='item.x1' [attr.y]='item.y1' width='20' height='15' transform='skewX(-10)' (click)="triggerRect()"/>
        <line *ngIf="item.Type=='line';" [attr.x1]='item.x1' [attr.y1]='item.y1' [attr.x2]='item.x2' [attr.y2]='item.y2' [attr.stroke]="item.color" style="stroke-width:4" (click)="triggerLine()"/>

    </ng-template>
</svg>