<mat-sidenav-container class="container-full fill">
    <div class="main-container">
    
        <div class="spa-container">
            <mat-toolbar #maintoolbar class="main-toolbar">
                <button mat-button color="warn">Kendo</button>
                <button mat-button color="primary">Material</button>
            </mat-toolbar>
            
            <div class="container container-wrapper">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</mat-sidenav-container>
